@import '_global';
@import '_fonts';
@import '_vars';


.header{
    &__top{
        background-color: #eef1f3;
    }
    &__top-inner{
        align-items: center;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        display: flex;
        align-items: center;
        font-size: 30px;
        line-height: 28px;
        &-img{
            width: 50px;
            height: 50px;
        }
        span{
            font-weight: 700;
        }
        .black{
            color: #000;
        }
        .blue{
            color: $blue;
        }
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: 50px;
        height: 36px;
        padding: 0px 18px;
        background-color: $blue;
        color: #fff;
        border-radius: 32px;
    }

    &__icons{
        margin-right: 50px;
        a{  
            color: #7e8fa1;
            font-size: 16px;
            & + a{
                margin-left: 30px;
            }
        }
        
    }

    &__user{
        display: flex;
        align-items: center;
        &-img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 25px;
        }
        &-info{
            display: flex;
            flex-direction: column;
            font-size: 16px;
        }
        &-name{
            display: inline-block;
            font-weight: 500;
            color: $dark;
            padding-bottom: 8px;
        }
        &-cash{
            display: inline-block;
            color: $blue;
        }
    }

    &__menu{
        
        &-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        }

        &-form{ 
            form{
                 position: relative;
            }
            input{
                outline: none;
                padding-right: 90px;
                padding-left: 25px;
                height: 45px;
                background-color: #fff;
                border: 1px solid #d9dfe5;
                border-radius: 32px;
                width: 270px;
                transition: all .5s;
                position: absolute;
                top: -23px;
                right: 0;
                &:focus{
                    width: 400px;
                }
            }
            button{
                cursor: pointer;
                font-size: 18px;
                position: absolute;
                content: '';
                color: #fff;
                right: 0;
                top: -23px;
                border: none;
                background-color: $blue;
                height: 45px;
                width: 70px;
                border-radius: 32px;
            }
        }
    }
}

.header__list-menu{
    li{
        display: inline-block;
        & + li{
            margin-left: 34px;
        }
    }
    a{
        font-weight: 500;
        font-size: 15px;
        color: $dark;
        text-transform: uppercase;
    }
}

.top{
    text-align: center;
    background-color: $blue;
    color: #fff;
    &__inner{
        position: relative;
        padding-top: 170px;
        padding-bottom: 225px;
    }
    
    &__title{
        font-size: 60px;
        line-height: 70px;
        span{
            font-weight: 700;
        }
        margin-bottom: 20px;
    }
    &__text{
        font-weight: 500;
        margin-bottom: 60px;
        font-size: 20px;
    }
    &__btn{
        a{
            padding: 21px 30px;
            border-radius: 30px;
            border: 1px solid #fff;
            font-size: 16px;
            color: #fff;
            margin: 0 15px;
            display: inline-block;
            &:hover{
                background-color: #fff;
                color: $blue;
                transition: all .5s;
            }
        }
    }
    &__form{
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        width: 100%;
        &::after,
        &::before{
                content: '';
                position: absolute;
                top: -13px;
                left: 1%;
                height: 40px;
                background-color: rgba(255,255,255,.5);
                width: 98%;
                border-radius: 8px;
                z-index: 1;
            }
        &::before{
            left: 2%;
            width: 96%;
            top: -23px; 
            z-index: 2;
        }
        form{
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            min-height: 135px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 0px 45px;
            align-items: center;
            border-radius: 8px;
        }
        input{
            height: 54px;
            display: block;
            width: 100%;
            margin-right: 32px;
            border-radius: 8px;
            border: 1px solid #dcdcdc;
            padding-left: 30px;
            outline: none;
            padding-right: 210px;
        }
        button{
            cursor: pointer;
            background-color: $blue;
            border: none;
            color: #fff;
            width: 220px;
            padding: 10px;
            height: 55px;
            font-size: 16px;
            border-radius: 8px;
        }
    }
    select{
        position: absolute;
        right: 247px;
        height: 53px;
        width: 195px;
        z-index: 2;
        border-radius: 8px;
        border: 1px solid #dcdcdc;
        outline: none;
        font-size: 16px;
        color: #555555;
        padding-left: 20px;
        option{
            border: 1px solid #dcdcdc;
            border-radius: 8px;
            color: #555555;
            padding-left: 20px;
            font-size: 16px;
            height: 53px;
            outline: none;
        }
    }
}

.advantages{
    &__inner{
        padding-bottom: 120px;
        padding-top: 200px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
    }
    &__item{
        text-align: center;
        max-width: 360px;
        width: 100%;
        padding: 40px 30px 50px;
        &:hover{
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }
    &__img{
        img{
            
        }
        margin-bottom: 30px;
    }
    &__title{
        font-size: 24px;
        color: #010101;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 16px;
        color: #555555;
    }
}

.slider{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #eff1f5;
    &__title-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 50px;
    }
    &__title{
        font-size: 30px;
        color: #000;
    }
    &__arrows{
        background-color: #7347c1;
        border-radius: 30px;
        height: 45px;
        width: 110px;
    }
    &__inner{
    }
    &__item{
        background-color: #fff;
        color: #000;
        &-inner{
            display: flex;
        }
    }  
    &__img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 555px;
        height: 450px;
        width: 100%;
    }
    &__info{
        box-sizing: border-box;
        padding: 50px 50px 25px;
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    }
    &__name{
        font-size: 24px;
        display: inline-block;
        padding-bottom: 15px;
        @include f500;
        color: #000;
    }
    &__box{
        display: flex;
    }
    &__author{ 
        display: flex;
        margin-bottom: 35px;
        &-avatar{
            width: 30px;
            height: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
            font-size: 15px;
        }
        &-name{
            margin-right: 45px;
        }
    }
    &__type{
        color: #7347c1;
        padding-left: 10px;
        position: relative;
        font-size: 15px;
        &::before{
            content: "\f19a";
            font-family: 'icomoon';
            position: absolute;
            left: -10px;
            color: #7347c1;
            font-size: 15px;
        }
    }
    &__text{
        font-size: 16px;
        color: #555555;
        margin-bottom: 40px;
    }
    &__marker-box{
        display: flex;
        a{
            color: #868c96;
            font-size: 15px;
            padding: 8px 20px;
            background-color: #f1f3f6;
            border-radius: 30px;
            & + a{
                margin-left: 10px;
            }
        }
        margin-bottom: 45px;
    }
    &__info-bottom{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 24px;
        border-top: 1px solid #ececec;
    }
    &__price{
        a{
            font-size: 15px;
            padding: 9px 20px;
            color: #fff; 
            border-radius: 30px;
            background-color: $blue;
        }
        margin-right: 45px;
    }
    &__like{
        font-size: 15px;
        color: #555555;
        padding-left: 10px;
        position: relative;
        margin-right: 40px;
        &::before{
            content: "\f08a";
            font-family: 'icomoon';
            color: #7347c1;
            left: -10px;
            position: absolute;
        }
    }
    &__count{
        padding-left: 10px;
        font-size: 15px;
        color: $blue;
        position: relative;
        &::before{
            content: "\f07a";
            font-family: 'icomoon';
            color: $blue;
            left: -10px;
            position: absolute;
        }
    }
    .slick-arrow{
        position: absolute;
        top: -113px;
        right: 44px;
        border: none;
        background-color: transparent;
        &::before{
            color: #daceee;
            font-size: 20px;
        }
        cursor: pointer;
        outline: none;
    }
    .prev-arrow{
        right: 105px;
    }
    &__stars{
        margin-left: auto;
        width: auto !important;
        svg{
            height: 14px;
            width: 14px;
        }
        
    }
}

  